<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Shipments</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <!-- <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Upgrade to Pro -->

                </a>
                <ol class="breadcrumb">
                    <li><a href="#!dashboard">Dashboard</a></li>
                    <li class="active">Shipments</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">

            <div class="col-sm-8">
                <div class="white-box">
                    <!-- <h3 class="box-title">SHIPMENTS</h3> -->


                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Order No</th>
                                    <th>Packing Date</th>
                                    <th>Delivery Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="displayProducts(x)" ng-repeat="x in products">
                                    <td>{{x.itemname}}</td>
                                    <td>{{x.itemid}}</td>
                                    <td>{{x.pickupdate}}</td>
                                    <td>{{x.deliverydate}}</td>
                                    <td>{{x.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-hide="displayProductsInfo" class="col-sm-4">
                <div class="white-box pad">
                    <div class="bluebox" style="color:ghostwhite"><b>Purchase Details ></b></div>
                    <br>
                    <div class="col-md-4"><i class="fa fa-file-text-o fa-large" style="font-size: 40px;color:grey;" aria-hidden="true"></i></div>

                    <div class="col-md-6"><b>{{itemname}}</b></div>
                    <br><br>
                    <hr>
                    <div class="pull-left" style="color:gray">SHIPPING OPTIONS</div>
                    <div class="pull-right"><a href="#!basictable"><b style="font-size:10px">SEE MORE</b></a>
                    </div><br>
                    <div class="row">


                    </div>
                    <div class="greybox">
                        <div class="pull-left"><img src="../plugins/images/users/arijit.jpg " alt="user " style="height:50px" class="img-box "> </div>
                        <div class="pull-right"><b>{{itemname}} - {{price}}</b></div><br>
                        <div class="pull-right">1-3 days Sat April 2</div><br>
                        <div class="pull-right">If shipped today, March 30</div><br>
                    </div>


                    <hr>
                    <div style="padding:20px;">
                        <div class="pull-left" style="color:gray">PACKAGE SIZE</div>
                        <div class="pull-right"><a href="#!basictable"><b style="font-size:10px">EDIT</b></a></div>
                        <br>
                        <p>Dimension</p>
                        <p>{{dimension}}</p>
                        <p>Weight</p>
                        <p>{{weight}}</p>
                    </div>

                    <hr>
                    <div style="padding:20px;">
                        <div class="pull-left" style="color:gray">RECIPIENT</div>
                        <div class="pull-right"><a href="#!basictable"><b style="font-size:10px">EDIT</b></a></div>
                        <br>
                        <p style="width:40%">{{deliveryaddress}}</p>
                    </div>







                </div>


            </div>
        </div>

        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>